---
const year = new Date().getFullYear();
---

<footer>
  <div class="container">
    <p>&copy; {year} Your Company</p>
  </div>
</footer>

<style>
  footer {
    text-align: center;
    padding: 100px 0;
  }
</style>
