---
import Layout from '@layouts/Layout.astro';
import Header from '@components/layouts/Header.astro';
import Footer from '@components/layouts/Footer.astro';
import Card from '@components/ui/Card.astro';
import SliderComponent from '@components/ui/SliderComponent.astro';
import noimage01 from '/src/assets/noimage-01.jpg';
import noimage02 from '/src/assets/noimage-02.jpg';
import noimage03 from '/src/assets/noimage-03.jpg';

const imageData = [
  {
    title: 'title01',
    desc: 'title01 desc',
    src: noimage01.src,
    alt: 'Nature',
  },
  {
    title: 'title02',
    desc: 'title02 desc',
    src: noimage02.src,
    alt: 'Water',
  },
  {
    title: 'title03',
    desc: 'title03 desc',
    src: noimage03.src,
    alt: 'Mountain',
  },
];
---

<Layout title="Welcome to Astro." description="descriptionがはいります">
  <Header />
  <main>
    <section>
      <h1>Topページ</h1>
      <SliderComponent>
        {
          imageData &&
            imageData.map((image: { title: string; desc: string; src: string | null; alt: string | null }) => (
              <div class="swiper-slide">
                <p>{image.title}</p>
                <p>{image.desc}</p>
                <div class="image">
                  <img src={image.src} alt={image.alt} />
                </div>
              </div>
            ))
        }
      </SliderComponent>
    </section>
  </main>
  <section>
    <ul role="list" class="link-card-grid">
      <Card href="https://docs.astro.build/" title="Documentation" body="Learn how Astro works and explore the official API docs." />
      <Card href="https://astro.build/integrations/" title="Integrations" body="Supercharge your project with new frameworks and libraries." />
      <Card href="https://astro.build/themes/" title="Themes" body="Explore a galaxy of community-built starter themes." />
      <Card href="https://astro.build/chat/" title="Community" body="Come say hi to our amazing Discord community. ❤️" />
    </ul>
  </section>
  <Footer />
</Layout>

<style>
  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 1rem;
  }

  .link-card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
    gap: 2rem;
    padding: 0;
  }
</style>
