---
// interface Props {
//   title: string;
//   desc: string;
//   src: string;
// }
// const { title, desc, src } = Astro.props;
---

<section class="splide" aria-label="Splideの基本的なHTML">
  <div class="splide__track">
    <ul class="splide__list">
      <slot />
    </ul>
  </div>
</section>
